<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

	<div class="brand-header">
    <img src="/Downloads/logo.png" alt="Arányos és rangsorolásos választást" />
  </div>
  {% include "navbar.njk" %}
  {% include "kpi.njk" %}

  <main class="content">
    {{ content | safe }}
  </main>

  <footer class="footer">
    <p>© 2026 CC-BY-SA <a href="https://kdea.hu">Közösségi Digitális Eszközök Alapítvány</a></p>
  </footer>

</body>
</html>
