<section class="kpi-bar">
  <div class="kpi">
    <span class="kpi-number">{{ activists.count }}</span>
    <span class="kpi-label">aktivista</span>
  </div>

  <div class="kpi">
    <a href="/sajto/index.html">
    <span class="kpi-number">{{ social.count }}</span>
    <span class="kpi-label">cikk a témában</span></a>
  </div>

  <div class="kpi">
    <a href="/votes/index.html">
    <span class="kpi-number">{{ votes.count }}</span>
    <span class="kpi-label">szavazás</span></a>
  </div>
</section>
