<section class="kpi-bar">
  <div class="kpi">
    <span class="kpi-number">{{ activists.count }}</span>
    <span class="kpi-label">Aktivista</span>
  </div>

  <div class="kpi">
    <span class="kpi-number">{{ social.count }}</span>
    <a href="/sajto/index.html">
    <span class="kpi-label">Megjelent cikk</span></a>
  </div>

  <div class="kpi">
    <span class="kpi-number">{{ kpi.votes }}</span>
    <a href="/votes/index.html">
    <span class="kpi-label">Szavazás</span></a>
  </div>
</section>
