<header class="navbar">
  <div class="logo"><a href="/">Arányos és rangsoroló választást!</a></div>
        <div class="brand-header"><a href="/">
    <img src="/Downloads/logo.png" alt="Arányos és rangsorolásos választást" /></a>
  </div>

  <nav class="menu">
    {% for item in menu %}
      <a href="{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
</header>
