<header class="navbar">
  <div class="logo">Rangsorolásos Választás</div>
        <div class="brand-header">
    <img src="/Downloads/logo.png" alt="Arányos és rangsorolásos választást" />
  </div>

  <nav class="menu">
    {% for item in menu %}
      <a href="{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
</header>
