<section id="redir-bar">

  <div>
  </div>

  <div>
    Ha a Nemzeti Választási Iroda honlapját keresed: <a href="http://valasztas.hu">valasztas.hu</a>
  </div>

  <button class="close-btn" aria-label="bezárás" onclick="this.parentNode.style.display = 'none'; var years = 10*365*24*60*60; document.cookie = `redir_seen=true; max-age=${years}; path=/`;">
    <span aria-hidden="true">&#x2716;</span>
  </button>

</section>
