---
layout: layout.njk
title: Adatkezelési tájékoztató
---

<h1>Adatkezelési tájékoztató</h1>

<p>
Az <em>Igazságos választást!</em> oldal nem kezeli a látogatók személyes
adatait.
</p>

<h2>Az oldalon használt sütik</h2>

<p>
Weboldalunk egyetlen technikai sütit használ, amelynek célja annak
megjegyzése, hogy az első alkalommal megjelenő figyelmeztető üzenetet
egyszer már bezártad.  Ez a süti nem tartalmaz személyes adatot, és
kizárólag azt biztosítja, hogy az üzenet ne jelenjen meg újra.  Lejárati
ideje: 400 nap.
</p>
