---
layout: layout.njk
title: Főoldal
---

<section class="hero">
  <h1>Nincs elveszett szavazat.</h1>
  <p>Rangsorolj. Számítson minden döntésed.</p>
  <button class="cta">Próbáld ki</button>
</section>

<section class="block">
  <h2>Mi a probléma?</h2>
  <p>A jelenlegi rendszer torzít és megoszt.</p>
</section>
