---
layout: layout.njk
title: Főoldal
---

<div class="hero">
    <h1>Rangsorolj. Nincs elveszett szavazat.</h1>
    <div class="subhead">
      Túlhatalom helyett arányos képviselet.<br>
      Gyűlöletkampány helyett együttműködés.<br>
      Kényszer helyett választói szabadság.
    </div>

  <p>Rangsorolj. Számítson minden döntésed.</p>
<a class="cta" href="https://szirbucz.github.io/valasztas/" target="_blank" rel="noopener noreferrer">
    Próbáld ki
  </a>

<h2>Miből van elegünk?</h2>
  <div class="cards-grid" id="mit-mi">
    <div class="card">
      <h3>Túlhatalom</h3>
      <p>„Az egypárti túlhatalom nem véletlen volt. A rendszer tette lehetővé.”</p>
    </div>
    <div class="card">
      <h3>Gyűlöletpolitika</h3>
      <p>„A mostani rendszer a megosztást jutalmazza. A rangsorolás az együttműködést.”</p>
    </div>
    <div class="card">
      <h3>Elveszett szavazat</h3>
      <p>„Ha az első választottad nem nyer, a szavazatod továbbmegy. Nem kell taktikáznod.”</p>
    </div>
  </div>

</div>
