---
layout: layout.njk
title: Kabai felmérés
---

<div class="content">

  <div class="block">
    <h1>Kabai felmérés</h1>
    <p>
      Kabán a <a href="http://meteorit-tisza-sziget-kaba.gozos.hu/">helyi
      Tisza-sziget</a> készített egy <a
      href="http://meteorit-tisza-sziget-kaba.gozos.hu/akciok/mit_kivannak_a_kabaiak.html">felmérést</a>
      arról, hogy a helyieknek mely ügyek a legfontosabbak.
    </p>
  </div>

  <div class="block">
    <h2>A szavazólap</h2>
    <p>
      A szervezők által összegyűjtött témákról lehetett véleményt alkotni:
    </p>

    <img src="/Downloads/kaba_szavazolap.png"
         alt="Kaba szavazólap"
         style="width:100%; max-width:700px; margin-top:20px; border-radius:8px;">
  </div>

  <div class="block">
    <h2>Eredmény</h2>
    <p>
      A szavazatokat <a
      href="https://hu.wikipedia.org/wiki/Condorcet-m%C3%B3dszer">Condorcet-módszerrel</a>
      értékelték ki.  Az alábbi lista azt mutatja, hogy a közösség hogyan
      rangsorolta a legfontosabb ügyeket:
    </p>

    <table style="margin-top: 1em;">
      <tr><td align="right">1.&nbsp;</td><td>orvosi ügyelet</td></tr>
      <tr><td align="right">2.&nbsp;</td><td>élelmiszeripari üzem</td></tr>
      <tr><td align="right">3-4.&nbsp;</td><td>4-es főút szélesítés</td></tr>
      <tr><td align="right"></td><td>vízmegtartó gazdálkodás</td></tr>
      <tr><td align="right">5.&nbsp;</td><td>önkormányzati iskola</td></tr>
      <tr><td align="right">6.&nbsp;</td><td>fürdőfejlesztés</td></tr>
      <tr><td align="right">7.&nbsp;</td><td>elkerülő út felújítás</td></tr>
      <tr><td align="right">8.&nbsp;</td><td>piacfejlesztés</td></tr>
      <tr><td align="right">9.&nbsp;</td><td>cukorgyár újraindítás</td></tr>
      <tr><td align="right">10.&nbsp;</td><td>bicikliút Szoboszlóra</td></tr>
      <tr><td align="right">11.&nbsp;</td><td>szállodaépítés</td></tr>
    </table>
  </div>

  <div class="block">
    <h2>Szófelhő</h2>
    <p>
      Az eredmények vizuális összefoglalása:
    </p>

    <img src="/Downloads/kaba_wordcloud.png"
         alt="szófelhő"
         style="width:100%; max-width:700px; margin-top:20px; border-radius:8px;">
  </div>

</div>
