---
layout: layout.njk
title: Kapcsolat
---

<div class="content">

<div class="block">
<h1>Kapcsolat</h1>
</div>

<div class="block">
  <p>
<ul>
<li><a href="https://discord.gg/JkXN8NGzsj">Discord szerver</a></li>
<li><a href="https://github.com/rangsorolasos/rangsorolasos.github.io/issues">Issue tracker</a></li>
<li>Koordinátor: Magosányi Árpád<br>
    Email: m4gw4s at gmail.com<br>
    Telefon: +36 30 383 0791</li>
<li>A kampány a MagNet Banknál vezetett 16200106-11581208-as számlára
    történő utalással támogatható.  Közleményként kérjük feltüntetni:
    <em>"Igazságos választást!" kampány</em><br>
    Köszönjük!</li>
</ul>
</div>


</div>
