---
layout: layout.njk
title: Kapcsolat
---

<h1>Kapcsolat</h1>

<ul>

<li>Kampányunk társadalmi igényt kíván teremteni egy arányos és rangsoroló
    választási rendszerre Magyarországon.  Weboldalunk címe: <a
    href="http://igazsagos.valasztast.hu">igazsagos.valasztast.hu</a><br>
    Ha mégis inkább a Nemzeti Választási Iroda honlapját keresed: <a
    href="http://valasztas.hu">valasztas.hu</a></li>
<li><a href="https://discord.gg/JkXN8NGzsj">Discord szerver</a></li>
<li><a href="https://github.com/rangsorolasos/rangsorolasos.github.io/issues">Issue tracker</a></li>
<li>Koordinátor: Magosányi Árpád<br>
    Email: m4gw4s at gmail.com<br>
    Telefon: +36 30 383 0791</li>
<li>A kampány a MagNet Banknál vezetett 16200106-11581208-as számlára
    történő utalással támogatható.  Közleményként kérjük feltüntetni:
    <em>"Igazságos választást!" kampány</em><br>
    Köszönjük!</li>
</ul>
