---
layout: layout.njk
title: Hogyan tudok segíteni?
---

<div class="content">

<div class="block">
<h1>Hogyan tudok segíteni?</h1>
</div>

<div class="block">
  <p>
<a href="https://discord.gg/JkXN8NGzsj">Discord szerver</a>
Nem kötelező használni, de ha feljössz több infód lesz, gyorsabban tudsz segítséget kérni.
</p>
<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSeUzxuA4bejl5DMVUmE1o65uGyOkE9Yyjt-8L0ZP8HJiWOT5A/viewform?usp=header">Jelentkezési lap</a>.
Ezt sem kötelező használni, de segítesz azzal hogy tudjuk kihez mivel érdemes fordulni. És hogy erőt tudjunk azzal mutatni hogy hány aktivistánk van.</p>
</div>
<div class="block">
  <h2>Beszélsz róla</h2>
  <p>
    Tényleg, ez a legfontosabb. Hogy elterjedjen az a tudás, amit a fő üzeneteink tartalmaznak:
	<ul>
<li>A jövőbeli túlhatalom megelőzése</li>
<ul>
<li>Az egypárti túlhatalom nem véletlen volt. A rendszer tette lehetővé.</li>
<li>Ha ugyanaz marad a rendszer, ez újra megtörténhet – bárki is kormányoz.</li>
</ul>
<li>Jobb politikai kultúra</li>
<ul>
<li>A mostani rendszer a megosztást jutalmazza. A rangsorolásos rendszer az együttműködést.</li>
<li>Ha a jelölteknek szükségük van a második szavazatodra is, nem engedhetik meg maguknak a gyűlöletkampányt.</li>
</ul>
<li>Választói szabadság</li>
<ul>
<li>Rangsorolj. Nincs elveszett szavazat. Nincs kényszer.</li>
<li>Több jelöltet is támogathatsz</li>
<li>A szavazatod akkor is számít, ha az első választottad kiesik</li>
<li>Nem kell taktikáznod</li>
</ul>
	</ul>
Ha szükséged van további érvekre, olvasd el a <a href="/FAQ/index.html">gyíkot</a>.
  </p>

<p>
	Szóval beszélgess rokonokkal, barátokkal, munkatársakkal. Van szórólapunk is (<a href="/Downloads/szorolap.png">PNG kép</a>,<a href="/Downloads/szorolap_nocutmarks.pdf">A/6 változat A/4 papíron</a>), azt is osztogathatod ha olyan helyen jársz.
</p>
</div>


<div class="block">
  <h2>Megmutatod</h2>
  <p>
    <A href="https://szirbucz.github.io/valasztas/">Itt egy választás szimulátor</a>, amivel ki lehet próbálni hogy mi a különbség az egy X-es és a rangsorolásos szavazás között.
</p>
  <p>
		Ha érzed magadban az erőt, szervezz helyben szavazást, ahogyan azt <a href="https://rangsorolasos.github.io/kaba/index.html">Kabán tették</a>.
	Ez a legerősebb eszközünk, mert közvetlen élményt nyújt a demokráciáról.
Ha erre adod a fejed, szívesen segítünk tapasztalattal, kapcsolati hálóval, de még - az adományoktól függően - olyan dolgokkal is, amik pénzbe kerülnek: szórólap, pult, ilyesmi.
  </p>
</div>

<div class="block">
  <h2>Segítesz tartalmat készíteni, keresel feladatot a feladatlistában</h2>
  <p>
		A weboldalból még nagyon sok minden hiányzik. Ezek, és más tennivalók is fel vannak sorolva a <a href="https://github.com/rangsorolasos/rangsorolasos.github.io/issues">feladattárban</a>.
  </p>
  <p>
		Ez azért fontos, hogy az emberek tudjanak tájékozódni, és hogy az aktivista társainknak legyen muníciója.
  </p>
<p> Ha látsz valamit ami hibás, nem érthető, nem jó a weboldalon, ugyanitt tudod jelezni.</p>
</div>


<div class="block">
  <h2>Posztolsz, kommentelsz, cikket írsz</h2>
  <p>
		Ha a saját social média felületeden (pl. tiktok, insta, reddit, facebook) posztolsz a témáról, az is eljut az ismerőseidhez. Azokhoz a témákhoz, amik idevágnak (pl. az látszik róluk, milyen gyűlöletteli ma a közbeszéd), kommentelhetsz is.
  </p>
  <p>
		Írhatsz cikket - vagy segíthetsz cikket elhelyezni - a helyi, vagy nem annyira helyi offline vagy online újságba.
  </p>
  <p>
		Jó lenne ha lenne saját tiktokunk, instánk, fészbúkunk. Van kedved csinálni és adminisztrálni valamelyiket?
  </p>
</div>

<div class="block">
  <h2>Gerillázol</h2>
  <p>
		Ha az emberek mindenhol látják a logónkat tartalmazó matricát, akkor érezni fogják hogy sokan szeretnénk arányos és rangsorolásos választást.
</p>
  <p>
	Keress minket matricáért. Csak olyan helyre tegyél matricát, ahol nem idegesít másokat!
  </p>
</div>



</div>
