---
layout: layout.njk
title: Sajtófigyelő
---

<h1>Sajtófigyelő</h1>

Ha találsz egy cikket a témában, <a href="https://docs.google.com/forms/d/e/1FAIpQLSd_x6qmhetn4vXoqaFekHZYk0i_SJIFTQfvQlxezck5v8dhjA/viewform?usp=dialog"￼itt tudod hozzáadni a listához</a>.

<ul class="press-list">
  {% for item in social.records |reverse %}
  <li class="press-item">
    <div class="press-title">
      <a href="{{ item.URL }}" target="_blank" rel="noopener noreferrer">
        {{ item.Cím }}
      </a>
    </div>
    <div class="press-meta">
      <span class="press-domain">{{ item.domain }}</span>
      <span class="press-date">{{ item.timestamp }}</span>
    </div>
  </li>
  {% endfor %}
</ul>
